export GCP_PROJECT_ID=HOGE_GCP_PROJECT_ID
export PROJECT_ID=HOGE_PROJECT_ID
export PROJECT_NUMBER=HOGE_PROJECT_NUMBER
export GCP_EMAIL=HOGE_GCP_EMAIL
export LOCATION=asia
export REGION=${LOCATION}-northeast1
export FORMAT=docker
export DOMAIN_NAME=${REGION}-${FORMAT}.pkg.dev
export REPOSITORY_NAME=ai-agent-hackathon
export DOCKER_IMAGE_NAME=ai-game
export GCPCE_EXTERNAL_IP_ADRESS=hoge
export VITE_API_URL=http://${GCPCE_EXTERNAL_IP_ADRESS}:8080
